@model DotNetCoreMVC.Models.EmployeeModel.AddEmployeeViewModel

@{
    string[] CntrllrActn = { "Employees", "Index" };
    ViewBag.CntrllrActn = CntrllrActn;
}

<h1>Add Employee</h1>
<a href="@Url.Action("Index")" class="btn btn-success mb-3">Employee List</a>

<form method="post" asp-action="EmployeeCreate" asp-controller="Employee" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="EmployeeName">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Designation</label>
        <input type="text" class="form-control" asp-for="Designation">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Department</label>
        <input type="text" class="form-control" asp-for="Department">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
